body{
    font-size: 16px; /*1em*/
    margin: 0px auto; /*centrado*/
    max-width: 1024px;
}
header{
    background: rgb(31, 41, 55);
}
header ul li{
    display: inline-block;
    margin-right: 15px;
}
#sec01 form{
    text-align: center;
    margin: 50px;
}

footer{
    text-align: center;
}
footer article{
    display: inline-block;
    margin-right: 40px;
   
}
#sec01{
    background: rgb(31, 41, 55);
    text-align: center;
}

#desk{
    width: 500px;
    border: solid white;
    border-width: 5px;
    border-radius: 5px;
    position: relative;
    top: 70px;
}
#sec02{

    text-align: center;
    margin: 50px;
    margin-top: 100px;
}
#boton1{
    background: rgb(28, 78, 217);
    border:  rgb(28, 78, 217);
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 20px;
}
#boton2{
    background: rgb(56, 65, 81);
    border: rgb(56, 65, 81);
    border-radius: 30px;
    padding: 10px 20px;
}
#boton1 img{
    width: 25px;
}
#boton2 img{
    width: 25px;
}
.letra-blanca{
    color: white;
}
.letra-gris{
    color: gray;
}
.letra-grande{
    font-size: 1.5em;
}
.negrita{
    font-weight: bold;
}